{% extends 'base.html' %}

{% block content %}
<div class="user-detail-container">
    <h1>{{post.title}}</h1>
    <div class="content-container">
        <p>{{post.content}}</p>
        <h2> By {{user.first_name}} {{user.last_name}}</h2>
    </div>

    <form action='/posts/{{post.id}}/edit'>
        <input class="edit-button" type="submit" value="Edit" />
    </form>

    <form action='/posts/{{post.id}}/delete' method="POST">
        <input class="delete-button" type="submit" value="Delete" />
    </form>

    <a href='/users/{{user.id}}'><button type="submit" class="cancel-button" value="Cancel">Cancel</button></a>

</div>


{% endblock%}

 


